@font-face {
    font-family: 'droid-serif';
    src: url("fonts/DroidSerif-Regular.ttf");
}

* {
  -ms-overflow-style: none;
  user-select: none;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

a {
    text-decoration: none;
    color: unset;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #2F2F2F;
}

#content {
    z-index: -100;
    opacity: 0;
    height: 100%;
    background-color: #FDFDFD;
}

#navbar {
    display: inline-flex;
    width: 100vw;
    height: 80px;
    background-color: #FDFDFD;
}

#menu {
    width: calc(100vw - 160px);
    justify-content: flex-end;
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
}

#menu-txt {
    font-size: 14px;
    font-family: 'Droid-serif';
    margin-right: 10px;
}

#list-ico {
    transform: scale(0.8);
}

.dropdown-menu:hover {
    cursor: pointer;
}

#title {
    width: 100vw;
    height: auto;
    display: inline-flex;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 35px;
    margin-left: 20px;
    align-items: center;
}

#subnav {
    width: 100vw;
    position: absolute;
    top: 70px;
}

/* srodek */
#subnav {
    width: 100vw;
    text-align: center;
    right: 0;
}

/* z prawej */
#subnav {
    width: unset;
    text-align: right;
    right: 20px;
    display: none;
}

.nav-item:first-child {
    margin-top: 10px;
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: #9F9F9F;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover:before {
    visibility: visible;
    width: 100%;
}

.nav-item {
    position: relative;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    right: -100px;
    display: block;
    /* margin-right: calc(2vw + 5px); */
    /* display: block; */
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 95px);
}

#intro p {
    margin: unset;
}

#intro img {
    width: 70%;
    max-width: 100%;
    max-width: 530px;
    min-width: 300px;
    flex-shrink: 0;
    margin-top: 120px;
    background-color: transparent;
    box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.42)!important;
}

#author {
    text-align: center;
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    /* font-size: 50px; */
    font-size: 13vw;
    color: #0F0F0F;
    letter-spacing: -4px;
}
