$bg-color: #F5F5F5;
$text-color: #0F0F0F;
$accent-color: #B89D4F;

$title-font: 'Playfair Display', serif;
$sub-font: 'Poppins', sans-serif;

* {
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    user-select: none;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

html,body {
    scrollbar-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}

a {
    text-decoration: none;
    color: unset;
}

#content {
    opacity: 0;
    height: 100%;
    background-color: $bg-color;
}

#navbar {
    position: fixed;
    top: 0;
    z-index: 3;
    transition: top 0.4s;
    display: inline-flex;
    width: 100vw;
    height: 80px;
    background-color: $bg-color;
}

#menu {
    width: calc(100vw - 160px);
    justify-content: flex-end;
    display: inline-flex;
    margin-right: 2.5vw;
    align-items: center;
}

#menu-txt {
    font-size: 14px;
    font-family: 'Droid-serif';
    margin-right: 5px;
}

#list-ico {
    transform: scale(0.8);
}

.dropdown-menu:hover {
    cursor: pointer;
}

#title {
    width: 100vw;
    height: auto;
    display: inline-flex;
    font-family: $title-font;
    font-weight: 700;
    font-size: #{"min(35px, 7vw)"};
    margin-left: 2.5vw;
    align-items: center;
}

#title p {
    user-select: none;
}

#subnav {
    display: none;
    text-align: right;
    top: 30px;
}

.menu-item {
    position: relative;
    font-size: 12px;
    font-family: $sub-font;
    font-weight: 200;
    right: -100px;
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 10px;

    &:first-child {
        margin-top: 10px;
    }

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        right: 0;
        background-color: #9F9F9F;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    &:active, &.hovered {
        &:before {
            visibility: visible;
            width: 100%;
        }
    }
}

#flags {
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 20px;
    top: unset;
    right: -150px;

    &:hover {
        .flag {
            display: block;
            opacity: 0.5;
            margin-top: 4.5px;

            &:hover {
                opacity: 1;
            }
        }  
    }
}

.flag {
    margin: 4.5px 0;
    width: 20px;
    cursor: pointer;

    &:not(:first-child){
        display: none;
    }
}

#container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#images {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
}

.column {
    flex: 100%;
    width: 100%;
    height: fit-content;
}

.outer-div {
    margin-top: 2.5vw;
    position: relative;
    cursor: pointer;

    &:hover {
        .img {
            opacity: .5 !important;
        }

        .overlay {
            opacity: 1 !important;
        }
    }
}

.img {
    opacity: 0;
    vertical-align: middle;
    width: 100%;
    transition: .5s ease-in-out;
    height: 40vh;
}

.overlay {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.img-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $sub-font;
    color: white;
    font-size: 16px;
    width: 80%;
    height: 80%;
    border: 1px solid white;
}

#preview-background {
    display: none;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#close-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#preview-container {
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: .5vh 3vw;
    width: 90vw;
    max-height: 90vh;
    margin-top: 30px;
    box-shadow: .35rem .575rem 1.75rem 0 rgba(0,0,0,.32);
}

#preview-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    text-align: center;
    padding: 2vw 0;
}

#preview-img-title {
    text-transform: uppercase;
    width: 100%;
    padding: 2vh 0;
    font-family: $sub-font;
    font-size: 25px;
}

#preview-img {
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
    max-height: 35vh;
    filter: drop-shadow(.25rem .375rem .75rem rgba(0,0,0,.3));
}

#form-container {
    width: 100%;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
}

#form-title {
    text-align: center;
    font-family: $sub-font;
    font-size: 20px;
    padding: 1vh 0;
}

#form {
    display: flex;
    flex-direction: column;

    .textbox {
        display: flex;
        flex-direction: column;
        padding: 1px;
        position: relative;
        background: #ccc;
        z-index: 1;
        border-radius: 5px;
        overflow: hidden;
        margin-top: .5vh;
    }

    .textbox:nth-child(2) {
        margin-bottom: 5vh;
    }

    .textbox:last-child {
        background: transparent;
        margin-top: auto;
    }

    .input {
        border: none;
        border-radius: 4px;
        padding: 10px 12px;
        font-size: 15px;
        transition: all 1s ease;
        outline: none;
        z-index: 2;

        &::placeholder {
            font-family: $sub-font;
        }

        &:focus {
            &~.border {
                width: 100%;
                height: 100%;
            }
        }
        
        &[type=submit] {
            background-color: rgba(212, 212, 212, 0.3);
            cursor: pointer !important;

            &:not(:disabled) {
                background-color: rgba(212, 212, 212, .7);
                &:hover, &:active {
                    &~.border {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
    }

    .border {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
        background: #008000;
        z-index: -1;
        transition: height 0.5s, width 0.5s 0.2s;
    }

    textarea {
        resize: none;
        height: 20vh;
    }
}


/* -----------> DESKTOP <------------ */
@media only screen and (min-width: 750px) {
    #title {
        width: unset;
        margin-left: 15vw;
        margin-top: -5px;
    }

    #title-text {
        font-size: #{"min(35px, 3.5vw)"};
    }

    #navbar {
        height: 150px;
        justify-content: space-between;
    }

    #menu {
        width: unset;
        margin-right: calc(15vw + 20px);
    }

    #menu-txt, #list-ico {
        display: none;
    }

    #subnav {
        position: unset;
        display: inline-block;
        right: unset;
        top: unset;
    }

    .menu-item {
        display: inline-block;
        right: 0;
        float: none;
        margin-right: calc(2vw + 5px);
        margin-bottom: unset;
        font-size: 14px;

        &:first-child {
            margin-top: unset;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #9F9F9F;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }

        &:hover, &.hovered {
            &:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }

    #flags {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 20px;
        top: unset;
        right: unset;

        &:hover {
            .flag {
                display: block;
                opacity: 0.5;
                margin-top: 4.5px;

                &:hover {
                    opacity: 1;
                }
            }  
        }
    }
    
    .flag {
        margin: 4.5px 0;
        width: 20px;
        cursor: pointer;

        &:not(:first-child){
            display: none;
        }
    }

    #close-icon {
        filter: invert(1);
    }

    #preview-background {
        background-color: rgba(0,0,0,.5);
    }

    #navbar {
        position: unset;
    }

    #images {
        padding-top: 5vh;
        width: 70vw;
    }

    .column {
        flex: 50%;
        width: 50%;
        padding: 0 1.25px;
    }

    .outer-div {
        margin-top: 2px;
    }
}

@media only  screen and  (min-width: 1000px) {

    #preview-container {
        padding: 0 10vw;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: none;
        box-shadow: none;
        background-color: transparent;
        height: fit-content;
        max-height: 80vh;
        width: 100vw;
    }

    #preview-img-title {
        display: none;
    }

    #preview-img-container  {
        padding: 0;
        height: fit-content;
        max-width: 70vw;
        width: fit-content;
    }

    #preview-img {
        border-radius: 0;
        max-height: 60vh;
        height: 50vw;
        width: auto;
        max-width: 60vw;
        filter: none;
        object-fit: cover;
    }

    #form-container {
        height: 100%;
        padding: 5% 20px;
        background-color: #FAFAFA;
        width: 30%;
        max-width: 350px;

        &>#form-title {
            padding: 0;
        }
    }

    #form {
        height: 80%;
        margin-top: auto;


        &>.textbox:nth-child(1) {
            &>.input {
                height: 45px;
            }
        }

        &>.textbox:nth-child(2) {
            margin-top: 20px;
            margin-bottom: 0;
            height: 60%;

            &>textarea {
                height: 100%;
            }
        }

        &>.textbox:nth-child(3) {
            margin-top: auto !important;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .column {
        flex: 25%;
        width: 25%;
    }
}